BET365_WEBSOCKET_URL=""

# To find your TSTK_COOKIE:
# 1. Log in to Bet365 in your browser.
# 2. Open Developer Tools (F12) -> Application/Storage Tab -> Cookies.
# 3. Look for the cookie named 'pstk'.
# 4. Copy its value here.
TSTK_COOKIE=""

# Prometheus metrics exporter HTTP port (scraped by Prometheus)
METRICS_PORT="8000"
